</head>
<body>
  <nav>
    <i class="fa-solid fa-plane"></i>  
    <a 
      href="/movies/new" <%- title === 'ALL FLIGHTS' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
    <a 
    href="/movies/new" <%- title === 'ADD FLIGHT' ? 'class="active"' : '' %>
  >
    ADD FLIGHT
  </a>
  </nav>