</head>
<body>
  <nav>
    <i class="fas fa-solid fa-plane"></i>
    <a 
    href="/flights/new" <%- title === 'ADD FLIGHT' ? 'class="active"' : '' %>
  >
    ADD FLIGHT
  </a>
  <a 
  href="/meals/new" <%- title === 'ADD MEAL' ? 'class="active"' : '' %>
>
  ADD MEAL
</a>
    <a 
      href="/flights" <%- title === 'ALL FLIGHTS' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>