html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Sarabun', sans-serif;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #243B4A;
  padding: 20px;
}

h1 {
  font-family: 'Sarabun', sans-serif;
  justify-content: center;
  align-items: center;
  display: grid;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}

label {
  font-size: 24px;
}

.cancel{
  font-size: 26px;
  text-decoration: none;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

a {
  color: #f6ae2d;
}

a:hover {
  color: white;
  background-color: #708B75;
}

a.active {
  color: white;
}