html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Sarabun', sans-serif;
}
form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > button {
  grid-column: span 2;
  width: 160px;
  margin-left: auto;
  font-size: 22px;
}