/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #243B4A;
  color: #FCF7FF;
  
} */

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #243B4A;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

body > nav {
  grid-area: nav;
  background-color: #F6AE2D;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

#add-ticket-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
}

#add-ticket-form > textarea {
  width: 250px;
}

h1 {
  justify-content: center;
  align-items: center;
  display: grid;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

a {
  color: #F6AE2D;
}
a:hover {
  color: white;
  background-color: #708B75;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

h1 {
  height: 200px;
  display: flex;
}

p {
  justify-content: center;
  align-items: center;
  display: grid;
  font-size: 24px;
}